<html>

<head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <%- include("partials/nav") %>
    <h1>Welcome to the profile of <%= person %></h1>
    <p><strong>age: <%= data.age %></strong> </p1>
        <p><strong>job: <%= data.job %></strong> </p1>
            <h2><strong>hobbies:</strong></h2>
            <ul>
                <% data.hobbies.forEach(function(item){%>
                <li><%= item %></li>
                <% }); %>
            </ul>
</body>

</html>